.ig{
     font-family: 
    "Dancing Script", 
    "Allura", 
    "Great Vibes",
    cursive;
  font-size: 2rem;
  color: #333;
}
.botongoogle{
background-color: rgb(113, 113, 236);
padding: 10px;
border-radius: 24px;
color: rgb(255, 255, 255);
}